
@{
    ViewData["Title"] = "ContactUs";
}

@*  start Body *@
<center>
    <div class="mt-3 p-5 bg-warning text-white rounded">
        <h1>welcom to about us</h1>
        <p>group 1</p>
    </div>
</center>
@* End body *@